html {
    height: 100%;
    width: 100%;
    font-size: 100%;
}

.sidenav {
    text-align: center;
    height: 100%;
    width: 20%;
    position: fixed; 
    top: 0;
    left: 0;
    background-color: pink;
    overflow-x: hidden;
    padding-top: 60px;
}