*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%;
}

body {
    background-color: darkgray;
    font-family: 'Open Sans';
    background-color: lightslategrey !important;
    min-height: 100%;
    padding-bottom: 200px;
    margin: 0;
}

.chat-rooms {
    position: absolute;
    width: 20%;
    height: 100%;
    background-color: lightgray;
    color: black;
}

.chat-room-list {
    padding-left: 10px;
    
}

.message-room {
    position: relative;
    width:80%;
    float: right;
    padding-left: 20px;
}

.rooms:hover {
    cursor: pointer;
/*    color: white;*/
}