<section class="chat-rooms">
    <div class="chat-room-list">
        <div class="heading" ng-controller="ModalCtrl as modal">
            <h1>Bloc Chat</h1>
            <button type="button" class="new-room" ng-click="modal.open()">New Room</button>
        </div>    
        <div class="rooms" ng-repeat="roomName in rooms.roomData">
                <h4 ng-click="rooms.setCurrentRoom(roomName)">{{ roomName.$value }}</h4>
        </div>
    </div>
</section>


<section class="message-room">
    <h1 class="message-heading">{{ rooms.currentRoom.$value }}</h1>
    <div class="message" ng-repeat="message in rooms.messages">
        <span class="message-username">{{ message.username }}: </span>
        <span class="message-content">{{ message.content }} </span>
        <span class="message-timestamp">{{ message.sentAt }}</span>
    </div>
</section>